@model agendaCabinetCourtiers2.Models.customers

@{
    ViewBag.Title = "Créer un client";
    ViewBag.defaultBudget = 0;
    if (TempData.ContainsKey("defaultBudget")) 
    {
        ViewBag.defaultBudget = TempData["defaultBudget"];
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="mt-4">
    @Html.ActionLink("Retour à la liste", "ListCustomers", "Customers", new { area = "" }, new { @class = "btn btn-outline-secondary" })
</p>

<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row g-3 mt-3">
        <h3>Client :</h3>
        <hr />
        @Html.ValidationSummary(true, "Veuillez corriger les erreurs et re-valider le formulaire.", new { @class = "text-danger" })
        <div class="col-md-6">
            @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.phoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.budget, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control", @Value=ViewBag.defaultBudget } })
            @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
        </div>
        <div class="col-12 mt-5 mb-3">
            <button type="submit" class="btn btn-success">Valider le client</button>
            <button type="reset" class="btn btn-secondary">Annuler</button>
        </div>
    </div>
}
