@model agendaCabinetCourtiers2.Models.customers

@{
    ViewBag.Title = "Détails du client";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @*Html.RenderPartial("EditCustomer");*@
    @*Html.RenderPartial("DeleteCustomer");*@
}

<p class="my-5">
    @Html.ActionLink("Retour à la liste", "ListCustomers", "Customers", new { area = "" }, new { @class = "btn btn-outline-secondary" })
</p>
<div class="card my-3">
    <div class="card-header position-relative">
        <h2 class="card-title my-2">@ViewBag.Title</h2>
        <p class="position-absolute top-50 end-0 translate-middle-y fs-5 fw-bolder pe-3">ID: @Html.DisplayFor(model => model.idCustomers)</p>
    </div>
    <div class="card-body">
        <p class="card-text">@Html.DisplayNameFor(model => model.lastname) : @Html.DisplayFor(model => model.lastname)</p>
        <p class="card-text">@Html.DisplayNameFor(model => model.firstname) : @Html.DisplayFor(model => model.firstname)</p>
        <p class="card-text">@Html.DisplayNameFor(model => model.mail) : <a href="mailto:@Html.DisplayFor(model => model.mail)" title="Envoyer un email">@Html.DisplayFor(model => model.mail)</a></p>
        <p class="card-text">@Html.DisplayNameFor(model => model.phoneNumber) : <a href="tel:@Html.DisplayFor(model => model.phoneNumber)">@Html.DisplayFor(model => model.phoneNumber)</a></p>
        <p class="card-text">@Html.DisplayNameFor(model => model.budget) : @Html.DisplayFor(model => model.budget)€</p>
    </div>
    <div class="card-footer">
        <div class="buttons text-center">
            @*<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#detailsModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>*@
            @*<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa fa-trash" aria-hidden="true"></i></button>*@
            <a href="@Url.Action("EditCustomer", "Customers", new { id = Model.idCustomers })" title="Modifier le client" class="btn btn-outline-dark showModal" type="button" data-bs-toggle="modal" data-bs-target="#modalCustomers"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="@Url.Action("DeleteCustomer", "Customers", new { id = Model.idCustomers })" title="Supprimer le client" class="btn btn-danger showModal" type="button" data-bs-toggle="modal" data-bs-target="#modalCustomers"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCustomers" tabindex="-1" aria-labelledby="titleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="contentModal"></div>
    </div>
</div>

@if (TempData.ContainsKey("messageEditCustomer"))
{
    <p class="alert alert-success">@TempData["messageEditCustomer"]</p>
}
